* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* body {
    background-color: rgb(165, 241, 247);
    flex-wrap: wrap;
} */

.parent-1 {
    display: flex;
    flex-wrap: wrap;
}

.parent-2 {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 400px;
    margin: auto;
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.top-side {
    margin: auto;
}

.r-label {
    position: absolute;
    /* width: 0px; */
    /* border: 0px solid yellow; */
    left: 10px;
    margin: 10px;
}

.more-info {
    position: absolute;
    /* width: 0px; */
    /* border: 0px solid yellow; */
    right: 10px;
    margin: 10px;
}

.descrip {
    text-align: left;
}

p {
    text-align: left;
    /* margin: 5px, auto; */
    padding: 10px;
}

.fa-chevron-down {
    position: absolute;
    right: 10px;
}

.icon {
    position: absolute;
    left: 10px;
}
.bottom-side {
    margin-top: 0rem;
    /* padding: 5px; */
}