* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
/* 
body {
    background-color: rgb(165, 241, 247);
} */

.parent-1 {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 550px;
    margin: 0 auto;
    margin-top: 3rem;
    justify-content: center;
    /* margin: 30px 30px; */
    text-align: center;
    background-color: rgb(176, 176, 245);
    padding: 40px;
    border-radius: 10px;
}

.parent-2 {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.carditem {
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 2rem;
    padding: 10px;
    color: #111;
    margin: 10px;
}